*~
*.log
*.out
*.pyc
*.pyo
*.svg
*.egg-info
.coverage
docker.sh
coverage_html
/.cache/
/build/
/dist/
/venv*
/futurize.sh
/git_push.sh
/git_fetch.sh
/register.sh
/rmbackups.sh
/workspace_private
/MANIFEST
